[buildout]
install-from-cache = true
find-links = http://pypi.aartemenko.com
parts =
        django
        django-ng
develop =
        .
        example
eggs =
        flup
        ipython
        BeautifulSoup
        django_antichaos
        antichaos_example

[env]
recipe = gocept.recipe.env

[tagging-ng]
recipe=zerokspot.recipe.git
repository=git://github.com/svetlyak40wt/django-tagging-ng.git
newest=true

[tagging-original]
recipe = iw.recipe.subversion
urls   = http://django-tagging.googlecode.com/svn/trunk/tagging/ tagging

[django]
recipe = djangorecipe
version = http://code.djangoproject.com/svn/django/trunk/@10844
settings = settings
eggs = ${buildout:eggs}
project = antichaos_example
projectegg = antichaos_example
extra-paths = ${tagging-original:location}
test =
    antichaos_example
    django_antichaos

[django-ng]
recipe = djangorecipe
version = ${django:version}
settings = settings-ng
eggs = ${buildout:eggs}
project = ${django:project}
projectegg = ${django:projectegg}
extra-paths = ${tagging-ng:location}
test = ${django:test}
control-script = django-ng
testrunner = test-ng

