{% extends 'admin/base_site.html' %}
{% load antichaos %}
{% load tagging_tags %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% antichaos_media_prefix %}antichaos.css" />

<script src="{% antichaos_media_prefix %}jquery.js"></script>
<script src="{% antichaos_media_prefix %}ui.core.js"></script>
<script src="{% antichaos_media_prefix %}ui.draggable.js"></script>
<script src="{% antichaos_media_prefix %}ui.droppable.js"></script>
<script src="{% antichaos_media_prefix %}effects.core.js"></script>
<script src="{% antichaos_media_prefix %}effects.explode.js"></script>
<script src="{% antichaos_media_prefix %}antichaos.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    {{ model_name }}

    <ul class="tag-cloud">
    {% for tag in objects %}
        <li class="tag c{{ tag.font_size }}">{{ tag.name }}<sup>{{ tag.count }}</sup></li>
    {% endfor %}
    </ul>
{% endblock %}
