{% load i18n %}
<div class="module">
    <table>
        <caption>{% blocktrans with tag.name as tag_name %}Objects with tag "{{ tag_name }}"{% endblocktrans %}</caption>
        <tbody>
        {% for object in objects|slice:":5" %}
            <tr><td>{{ object }}</td></tr>
        {% endfor %}
        {% with objects|slice:"5:" as reminder %}
            {% if reminder %}
                <tr><td>{% blocktrans with reminder|length as count %}{{ count }} more.{% endblocktrans %}</td></tr>
            {% endif %}
        {% endwith %}
        </tbody>
    </table>
</div>
